.contenedor-articulos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* Ajusta el ancho mínimo */
    gap: 10px; /* Espaciado entre los artículos */
    justify-content: center; /* Centra los artículos horizontalmente */
    padding: 10px; /* Reduce el espaciado interno */
    background: transparent; /* Fondo transparente */
}