.articulo {
    width: 100%; /* Se ajustará al ancho definido por el contenedor */
    background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 0; /* Sin bordes redondeados */
    overflow: hidden;
    box-shadow: none; /* Sin sombra */
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
    margin: 0; /* El espaciado lo maneja el contenedor */
    padding: 10px;
    border: 1px transparent rgba(0, 0, 0, 0.1); /* Borde sutil */
}

.articulo:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.9); /* Fondo ligeramente más opaco al pasar el mouse */
}

.articulo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.articulo h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
    font-weight: 600;
}

.articulo p {
    margin: 5px 0;
    font-size: 1rem;
    color: #555;
    font-weight: 500;
}

.botones {
    display: flex; /* Usa flexbox para alinear los botones */
    justify-content: space-between; /* Espaciado uniforme entre los botones */
    align-items: center; /* Alinea los botones verticalmente */
    margin-top: 10px; /* Espaciado superior */
}

.articulo button {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #d8d8d8;
    background: transparent;
    color: #333;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.articulo button.Compra {
    width: 80%;
}
.articulo button.Compra:hover {
    
    background: #333;
    color: #ffffff;
}

.articulo button.Carrito {
    width: 20%;
}
.articulo button.Carrito:hover {
    background: #b48c5a;
}